.main{
    background-image:url("https://res.cloudinary.com/dohd9zieh/image/upload/v1722100547/leone-venter-VieM9BdZKFo-unsplash_sg69wq.jpg");
    height: 90vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
  }